*{
    color: #fff;
}

.introText{
    margin-top: 60px;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 16px;
}
.introText2{
    font-family: Messina Sans Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: end;
    margin-bottom: 36px;
}

.photo {
    width: 216px;
    height: 284px;
    transform: scaleX(-1)
}
.pinkText{
    color: #DC3B5A;
}
.aboutList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 70%;
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.banner{
    background-color: #DC3B5A;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.banner p{
    font-weight: bold;
}
.aboutPhoto{
    text-align: center;
}

@media screen and (min-width: 768px) {
    .introText{
        font-size: 40px;
        text-align: start;
    }
    .introText2{
        text-align: end;
        font-weight: 400;
        font-size: 24px;
    }
    .aboutText{
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 80%;
    }
    .aboutPhoto{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .aboutList{
        width: 440px;
        margin-bottom:80px;
    }
    .photo{
        width: 313px;
        height: 422px;
        position: relative;
        top: -50px;
    }
    .aboutList{
        font-family: Messina Sans Mono;
        font-size: 24px;
        gap: 42px;
    }
    .banner{
        position: relative;
        top: -80px;
        height: 36px;
    }
}

@media screen and (min-width: 1280px) {
    .photo{
        width: 615px;
        height: 822px;
    }
    .banner{
        position: relative;
        top: -100px;
        height: 86px;
    }
    .introText{
        font-size: 90px;
        margin-right: 80px;
    }
    .introText2{
        font-size: 24px;
        text-align: right;
    }
}