.photo {
    width: 216px;
    height: 284px;
    z-index: 1;
}

h1 {
    font-size: 44px;
    letter-spacing: 1%;
    color: #1E1E1E;
}

.logo {
    width: 48px;
    height: 32px;
    overflow: hidden;
}

.text {
    font-family: 'Biro Script Plus Bold US';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.68;
    color: #1E1E1E;
}

.textList {
    margin-top: 20px;
}

.headerList {
    display: flex;
    justify-content: space-around;
    background-color: #DC3B5A;
    border-radius: 12px;
    width: 90%;
    position: relative;
}

.headerList>li {
    text-align: center;
    padding-top: 15px;
}

.headerList>li:first-child {
    padding-left: 5px;
}

.headerList>li:last-child {
    padding-right: 5px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-left: 8px;
    z-index: 1;
    /* position: absolute;
    right: 10px; */
}

.menuSchema {
    width: 48px;
    height: 48px;
    border: none;
    background-color: #1E1E1E1A;
    color: #1E1E1E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.menuSchemsModal {
    width: 48px;
    height: 48px;
    border: none;
    background-color: #FFFFFF1A;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButton {
    width: 216px;
    background-color: #1E1E1E1A;
    overflow: hidden;
    border-radius: 8px;
    border: none;
    position: relative;
    top: -5px;
    z-index: 5;

    /* margin-bottom: 12px; */
}

.headerButton>p {
    padding: 10px 0;
    color: #1E1E1E;
    font-size: 15px;
}

.apeDescription {
    margin-bottom: 19px;
    font-family: Messina Sans Mono;
    font-size: 12px;
    line-height: 1.16;
    color: #1E1E1E;
    font-weight: bold;
}

.revised {
    font-family: Messina Sans Mono;
    font-size: 12px;
    line-height: 1.16;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    color: #fff;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 2;
}

.modalNav {
    font-family: Messina Sans Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 1, 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.modal button {
    color: #fff;
}

.navNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .text {
        font-size: 20px;
        line-height: 1.3;
    }

    h1 {
        font-size: 92px;
    }

    .photo {
        width: 283px;
        height: 386px;
        position: absolute;
        bottom: 0;
        transform: translate(-50%);
    }

    .headerList {
        height: 421px;
    }

    .textList {
        text-align: start;
        margin-top: 104px;
    }

    .buttonText {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        right: 40px;
    }

    .logo {
        left: 28px;
    }

    .modal {
        display: none;
    }

    .tablMenu {
        display: flex;
        flex-direction: row-reverse;
    }

    .modalNavTabl {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px 0 0 10px;
        background-color: #1E1E1E1A;
    }

    .modalNavTabl li {
        color: black;
        padding-left: 5px;
        right: 30px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        margin-left: 8px;
        z-index: 1;
        position: absolute;
        right: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .photo {
        width: 511px;
        height: 675px;
    }

    .headerList {
        height: 720px;
    }

    h1 {
        font-size: 170px;
    }

    .tetx {
        font-size: 24px;
    }

    .headerButton {
        width: 337px;
        height: 70px;
    }

    .headerButton>p {
        font-size: 28px;
    }

    .apeDescription {
        font-size: 16px;
    }

    .buttonText {
        position: absolute;
        bottom: 111px;
    }

    .logo {
        left: 42px;
        height: 50px;
        width: 72px;
    }

    .menuSchema {
        width: 60px;
        height: 60px;
    }

    .textList {
        margin-top: 200px;
    }

    .text:first-child {
        margin-left: 0;
    }

    .text {
        margin-left: 176px;
    }
}